/* React Split Pane Custom Styles */

.gutter {
  background-color: var(--color-border);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color 200ms ease;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  background-color: #1380F5;
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-vertical:hover {
  background-color: #1380F5;
}

.split {
  display: flex;
}

.split.split-horizontal {
  flex-direction: row;
}

.split.split-vertical {
  flex-direction: column;
}

